@using CodeFirst.Entities.Concrete;
@{
    ViewData["Title"] = "Okula Ders Ekle";
}
@model AddLessonVM

<h1 class="text-warning">Ders Ekle</h1>

<h4>Dersler</h4>

<hr />

@if (ViewBag.Bildiri != null)
{
    <div class="text-warning">
        @ViewBag.Bildiri
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLesson" method="post">
            <input type="hidden" asp-for="SchoolId"/>
            <select asp-for="LessonId" class="form-control">
                @foreach (Lesson item in Model.Lessons)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
           
            <div class="form-group">
                <input type="submit" value="Ders Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
